# Ignore Python cache files
__pycache__/

# Ignore virtual environment directories
.venv/

# Ignore IDE and editor settings
.idea/
.vscode/

# Ignore backend and frontend dependencies and configuration files
backend-python/backend_config.json
frontend/jiancheng/frontend_config.json
frontend/jiancheng/node_modules/

# Node modules in general
node_modules/
# script
dev.sh
