# Ignore Python cache files
__pycache__/

# Ignore virtual environment directories
.venv/

# Ignore IDE and editor settings
.idea/
.vscode/

frontend/jiancheng/node_modules/

# Node modules in general
node_modules/
