@import './base.css';

html, body {
  height: 100%; /* Ensure full height coverage */
  margin: 0;
  padding: 0;
}
#app {
  height: 100%; /* Ensure the app takes up the full height */
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
  font-weight: normal;
  background-color: #fff; /* Add a subtle background color */
  color: #333;
  background-image: url('../assets/background.jpg');
  background-size: cover;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: color 0.4s, background-color 0.4s, box-shadow 0.4s;
  padding: 3px;
  border-radius: 5px;
}

a:hover,
.green:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: hsla(160, 100%, 40%, 1);
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background: #f5f7fa; /* Light background for large screens */
  }

}

.el-header {
  --el-header-height: 80px !important;
  align-items: center;
  justify-content: center !important;
  background: linear-gradient(145deg, #6dd5ed, #2193b0); /* Updated to a vibrant gradient */
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 60px;
  color: #fff; /* White text for better contrast */
  margin: 20px;
  padding: 1rem;
  display: flex;
}

.el-aside {
  height: 780px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  padding: 2rem;
}

.el-main {
  height: 780px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 10px;
  padding: 2rem;
  transition: transform 0.3s ease;
}
.el-menu {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  border-right: 0px !important;
  transition: transform 0.3s ease;
}

.el-menu-item {
  font-size: medium !important;
  justify-content: center !important;
  color: #333;
  background-color: #f5f5f5;  /* Light background for better contrast */
  padding: 0.5rem 1rem;
  height: 50px !important;
  border-radius: 8px;
  border: 1px solid #ccc;  /* Add a light border for clarity */
  font-weight: bold;  /* Make the text bold */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  /* Add a subtle shadow for depth */
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.el-row {
  margin-top: 10px;
}

/* Add smooth transitions to interactions */
button,
.el-button-group .el-button {
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

button:hover,
.el-button-group .el-button:hover {
  background-color: #2193b0;
  color: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); /* A subtle pop effect */
}
